.question-card__list {
  list-style: none;
}

.question-card {
  display: grid;
  gap: 10px;
  background-color: rgb(201, 176, 230);
  margin: 20px;
  padding: 10px;
  border-color: black;
  justify-content: center;
}

.answer-button {
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.category-list {
  list-style: none;
}

.category {
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}
