.question-card__list {
  list-style: none;
  text-align: center;
}

.question-card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: rgb(201, 170, 243);
  border-radius: 1em;
  margin: 1em 1.1em 1.5em 1em;
  padding: 1.25em;
  position: relative;
  box-shadow: 5px 5px 10px rgb(132, 111, 163);
}

/* bookmark */

.question-card__bookmark {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  height: 3em;
  width: 3em;
}

.question-card__bookmark:hover {
  height: 4.7em;
  width: 4.7em;
  top: -0.7em;
  right: -0.7em;
}

.question-card__bookmark-big {
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  height: 3em;
  width: 3em;
  height: 4.7em;
  width: 4.7em;
  top: -0.7em;
  right: -0.7em;
}

/* question (title) */

.question-card__title {
  font-size: 1.25em;
  padding: 1em 1.75em 0.5em 1.75em;
}

/* answer */

p {
  padding: 0.5em;
  font-size: 1.25em;
  padding: 0 1.75em 0.75em 1.75em;
}

/* answer-button */

.answer-button {
  border-radius: 1em;
  padding: 0.5em;
  background-color: rgb(219, 201, 245);
  border: 0.25em dotted rgb(238, 95, 119);
  width: 10em;
  align-self: center;
  font-size: 1em;
}

.answer-button:hover {
  background-color: rgb(247, 125, 162);
  border: 0.25em dotted rgb(236, 59, 89);
}

/* categories */

.category-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}

.category {
  border-radius: 1em;
  background-color: rgb(219, 201, 245);
  border: none;
  padding: 0.5em 1em 0.5em 1em;
}
