.navbar {
  background-color: rgb(158, 101, 233);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.nav-icon {
  padding: 20px;
  border-radius: 20px;
}

.nav-icon:hover {
  background-color: rgb(247, 125, 145);
}

.nav-links img {
  height: 50px;
  width: 50px;
}
