.profile__list {
  list-style: none;
  text-align: left;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: rgb(201, 170, 243);
  border-radius: 1em;
  margin: 1em 1em;
  padding: 1.25em;
  position: relative;
}

.profile__title {
  text-align: left;
  font-size: 1.25em;
  padding: 1em 1.75em 0.5em 1.75em;
}
