.profile__list {
  list-style: none;
  text-align: left;
}

.profile,
.profile__settings {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: rgb(201, 170, 243);
  border-radius: 1em;
  margin: 1em 1.1em 1.5em 1em;
  padding: 1.25em;
  position: relative;
  height: 37em;
  box-shadow: 5px 5px 10px rgb(132, 111, 163);
}

/* about me */

.profile__picture {
  top: 4em;
  left: 4em;
  margin: 2em 0 0.5em 2em;
  height: 10em;
  width: 10em;
  border-radius: 1.25em;
  border: 0.25em dotted rgb(238, 95, 119);
}

.profile__title {
  font-size: 1.25em;
  padding: 1em 1.75em 0.5em 1.75em;
}

.profile__button-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  gap: 1em;
}

.profile__solved-questions,
.profile__added-bookmarks {
  background-color: rgb(219, 201, 245);
  border: 0.25em dotted rgb(145, 96, 209);
  height: 5em;
  width: 7em;
  border-radius: 1.25em;
}

.profile__bookmark {
  height: 3em;
  width: 3em;
}

/* settings */

.profile__settings-title {
  text-align: left;
  font-size: 1.25em;
  padding: 1em 1.75em 0.5em 1.75em;
}

.button__dark-mode {
  border-radius: 1em;
  padding: 1em 1.75em 0.5em 1.75em;
  background-color: rgb(219, 201, 245);
  border: 0.25em dotted rgb(238, 95, 119);
  width: 15em;
  font-size: 1em;
}
